.screenContainer {
  width: 300px;
  /* Largeur du conteneur */
  height: 300px;
  /* Hauteur du conteneur */
  overflow: hidden;
}

.screenContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* "cover" fait que l'image remplisse le conteneur en la recadrant */
}

.screenContainer2 {
  width: 600px;
  /* Largeur du conteneur */
  height: 300px;
  /* Hauteur du conteneur */
  overflow: hidden;
}

.screenContainer2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* "cover" fait que l'image remplisse le conteneur en la recadrant */
}

.screenContainer3 {
  width: 250px;
  /* Largeur du conteneur */
  height: 250px;
  /* Hauteur du conteneur */
  overflow: hidden;
}

.screenContainer3Img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* "cover" fait que l'image remplisse le conteneur en la recadrant */
}
